body {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;       
    background-color: azure;
    background: linear-gradient(to bottom, #F0F8FF, #6495ED);
}

.Text_box {
    width: 400px;
    height: 550px;
    background-color: #6495ED;
    text-align: center;
    margin: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
    border: 7px black solid;
}

.Socials {
    display: flex;
    justify-content: space-between; /* Align items to left, center, and right */
    flex-wrap: wrap;                /* Allow items to wrap if needed */
    margin-top: 20px;
}

.Socials a:hover{
    color: white !important;
    cursor: pointer;
}

.social-item {
    display: flex;
    flex-direction: column; /* Stack text and image vertically */
    align-items: center;    /* Center items horizontally */
    text-align: center;     /* Center text inside the item */
}

.social-item a {
    text-decoration: none;
    color: black; /* Default text color */
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-item img {
    width: 50px;    
    height: auto;   
    transition: filter 0.3s; 
}


.social-item a:hover img {
    filter: brightness(0) invert(1); /* Changes color to white or inverse */
    cursor: default;
}

.container {
    text-align: center;
}

.cookie-display {
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: bold;
}

.container p {
    font-weight: bold;
}